.container {
  min-height: 800px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: linear-gradient(135deg, #222a4c, #292d3e);
}

.containerWhite {
  min-height: 800px;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  background: linear-gradient(#d0d5df, white);
}

.main {
  width: 95%;
  padding: 5rem 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.mainInfo {
  width: 95%;
  padding: 5rem 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: auto;
  grid-gap: 10px;
  justify-content: center;
}

.mainInfo article {
  width: 100%;
}
.mainInfo aside {
  width: 100%;
}


.title span {
  color: #a9e950;
  text-decoration: none;
}
.titleGeneral .secondary {
  color: #ee526e;
  text-decoration: none;
}
.titleInfo {
  /* background: linear-gradient(135deg, #222a4c, #292d3e); */
  color: #222a4c;
  line-height: 1.15;
  font-size: 45px;
  font-weight: bold;
}
.titleInfoWhite {
  color: white;
  line-height: 1.15;
  font-size: 45px;
  font-weight: bold;
}
.subTitleInfoWhite {
  color: white;
  line-height: 1.15;
  font-size: 28px;
  font-weight: bold;
}

.paragraphInfo {
  color: #374151ea;
  font-size: 20px;
}
.paragraphInfoWhite {
  color: whitesmoke;
  font-size: 20px;
}

.paragraphInfo span {
  font-weight: bold;
}

.titleGeneral a:hover,
.titleGeneral a:focus,
.titleGeneral a:active {
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: white;
}

.title,
.description,.titleGeneral {
  text-align: center;
}
.titleGeneral{
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: #222a4c;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: rgba(0, 0, 0, 0.597);
  color: #ee526e;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.codeInWhite {
  background: rgba(0, 0, 0, 0.734);
  color: #a9e950;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (min-width: 760px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .mainInfo {
    flex-direction: row;
  }
  .mainInfo article {
    width: 55%;
  }

  .mainInfo aside {
    display: flex;
    grid-gap: 10px;
    width: 45%;
  }
}
